<a href="https://colab.research.google.com/github/LondonInternational/Data-Science-Batch-A-OCTAIML2021/blob/main/Session_I_IntrotoPythonProgramming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [81]:
#  Session I - London International - Data Science & Analytics 15/10/2021 15:00 to 19:00

In [ ]:
# This is the first program in python
print('Hello World')

Hello World

In [ ]:
# Single -Line Comment - Use # as Prefix
'''
Multi-line Comment
Author: Sanket
Date: 15 Oct 2021
Time: 16:03
'''

print("Hello Planet Earth")

Hello Planet Earth

In [ ]:
# Cell Execution - PLAY Button or CTRL+ENTR

In [ ]:
print('hello world')
print("hello world")
print('''hello world''')
print("""hello world""")

hello world
hello world
hello world
hello world

In [ ]:
# List of Operators in Python

In [ ]:
# Arithmetic Operators (+,-,/,*,**,%)

print(23-4)
print(23+4)
print(23/4) # float division operator --> 5.75
print(23//4) # int division operator --> 5
print(3*4)
print(3**3) # power operator -> exponent value -> base**power --> 27
print(3**4) # power operator -> exponent value -> base**power --> 81
print(23%4) # modulo opeartor -> Remainder value -> 3

19
27
5.75
5
12
27
81
3

In [ ]:
# Relational Operators (<,>,<=,>=,==,!=) return boolean value (True/False)

print(4<5) # True
print(4>5) # False
print(4==5) # False
print(4<=5) # True
print(4>=5) # False
print(4!=5) # ?

True
False
False
True
False
True

In [ ]:
# Assignment Operators (=,+=,-=,/=,%=,//=,etc..)
x = 90
print(x) # 90
x = 94
print(x) # 94
x += 5 # x = x+5  --> x= 99
print(x)

y = 76
y //= 4 # y = y//4 --> y = 19 or 19.0 ??
print(y)

90
94
99
19

In [ ]:
y = 76
y /= 4 # y = y/4 --> y = 19 or 19.0 ??
print(y)

19.0

In [ ]:
# Logical Operators (and, or, not) --> True/False

print( 23 > 5 and 45 < 7 ) # -> ( True and False ) -->  False
print( 23 > 5 and 45 < 97 ) # -> ( True and True ) -->  True

False
True

In [ ]:
print( 23 > 5 or 45 < 7 ) # -> ( True or False ) -->  True
print( 23 > 5 or 45 < 97 ) # -> ( True or True ) -->  True
print( 23 < 5 or 45 > 97 ) # -> ( False or False ) -->  False

In [ ]:
print(not (5<6)) # not True -> False

False

In [ ]:
print(not True) # not True -> False

False

In [ ]:
4+6

10

In [ ]:
x = 90

print(not (4<56 and 50<=0) ) # not (True and False) --> not (False) --> True

True

In [ ]:
# Identity Operators (is, is not) ---> True/False
print( 3 is 4)
print('amit' is 'alok')

False
False

In [ ]:
# Membership Operators (in, not in) --> True/False

numList = [1,2,3,5]

print(4 in numList)
print(0 in numList)
print(5 in numList)

False
False
True

In [ ]:
# Bitwise Operators (&, |, ^, ~,>>, <<) 

x = 9 # 1001 
# & 
y = 2 # 0010

'''
----------

1001
&
0010
----
0000 (0)

----------

'''

print( x & y)

0

In [ ]:
# Number Systems

# Binary Number (0,1)
# Octal Number (0-7)
# Decimal Number (0-9)
# Hexadecimal Number ()

In [ ]:
x = 9 # 1001 
# | pipe bitwise OR 
y = 2 # 0010

'''
----------

1001
|
0010
----
1011 (11)

----------

'''

print( x | y)

11

In [ ]:
y = 2 # 0010

'''
----------

0010 
<< LEFT SHIFT
----
0100 (4)

----------

'''

print( y << 1)

4

In [ ]:
y = 2 # 0010

'''
----------

0010 
>> RIGHT SHIFT
----
0001 (1)

----------

'''

print( y >> 1)

1

In [ ]:
# Arithmetic Operators (+,-,/,//,*,**,%)
# Relational Operators (<,>,<=,>=,!=)
# Logical Operators (and, or, not)
# Assignment Operators (=,+=,/=,-=,)
# Identity Operators (is, is not)
# Membership Operators (in, not in)
# Bitwise Operators (&,|,~, <<,>>,^)

In [ ]:
# Semi-colon at the EOL(End-of-line-of-code) is optional
x=90;
z=56;
y=x+z
print(y)

146

In [ ]:
# Python is strongly-typed language as it supports operations on only compatible types of data

print(56+4) #  (int + int) --> int [addition] 60
print(56.0+4) #  (float + int) --> float [addition] 60.0
print('ca'+'t') # (string +  string ) --> string [concatenation] cat

60
60.0
cat

In [ ]:
print('ca'+ 8) # incompatibility within operand types --> add/concat

TypeError: ignored

In [ ]:
PRINT('helloworld') # python is case-sensitive language

NameError: ignored

In [ ]:
D = 90
print(d)

NameError: ignored

In [ ]:
# type-casting(type-conversion) functions (int(),str(),float()) will help you to convert the data from one type to the other type

# convert float number into integer
x = 90.8
y = int(x)
print(y)

# convert integer number into float
x = 908
z = float(x)
print(z)

# string conversion
d = 'ca'
strval = d + str(90) # 'ca' + '90' -> ca90
print(strval)

90
908.0
ca90

In [ ]:
# statically-typed langauges -C/C++/Java
# int x = 90 statically-assign a datatype to a variable

# dynamically-typed language - Python
x = 90
print(x)
x = 'cat'
print(x)

90
cat

In [ ]:
True = 90
print(True)

SyntaxError: ignored

In [52]:
TRUE = 90
print(TRUE)

90

In [ ]:
# Conditional Statments (if,elif,else)

In [54]:
x = 9  
if (x>60):
  print('hello')  # add indent/margin of space
  print('yola')
  print('tic')
else:
  print('world')

world

In [69]:


age = 'amit'

print(type(age)) # returns the type of data stored in a variable
print(isinstance(age,str)) # isinstance(value,datatype) returns True/False
print(isinstance(age,int)) # isinstance(value,datatype) returns True/False
print(isinstance(age,float)) # isinstance(value,datatype) returns True/False

<class 'str'>
True
False
False

In [78]:
# Restrict access to my club based on the age of customer(access 18-65)

age = '-180'
if isinstance(age,str):
      print('Enter your age again')
else:
      if age>=18 and age<=65:
        print("Youare welcome")
      elif age<18 and age>0:
        print('Entry Restricted')
      elif age>65 and age<100:
        print('Caution')
      else:
        print('Invalid Age')

Enter your age again

In [79]:
# Check whether a number is even or odd and print the accordingly

num = 7

if num % 2==0:
  print('Even')
else:
  print('Odd')

Odd

In [80]:
# Check whether the calender year is leap year or not and print the message accordingly

# Check whether a number is float or int or str and print the message accordingly

# Check whether a number is positive or negativ or zero and print the message accordingly

# Calculate  volume of sphere based on radius, area of circle, area of equilateral triangle

# Calculate the compound interest

print(4-5*4/2**3) # analyse the expression and find out the order of execution - order of precedence in python

1.5