<a href="https://colab.research.google.com/github/LondonInternational/Data-Science-Batch-A-OCTAIML2021/blob/main/Session_II_IntrotoPythonProgramming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
# User Input
print("Enter any number: ")
X = input() # always return the string, so you will convert it into required type
print(type(X))
X = int(X) # convert X to integer type - type-conversion [str -> int]
print('--------------------')
print(X)
print(type(X))

Enter any number:
34
<class 'str'>
--------------------
34
<class 'int'>

In [5]:
int('cat')

ValueError: ignored

In [9]:
int('8')

8

In [10]:
int(8.945)

8

In [7]:
int('eight')

ValueError: ignored

In [13]:
print('Enter any number')
Y = input()
Y = int(Y)
print(Y)

Enter any number
34
34

In [16]:
Y = int(input('Enter any number :'))
print(Y)

Enter any number :34
34

In [17]:
print(int(input('Enter any number :')))

Enter any number :34
34

In [19]:
# Loop Structures [for, while]

print('Hello')
print('Hello')
print('Hello')
print('Hello')
print('Hello')

for loopCount in range

Hello
Hello
Hello
Hello
Hello

In [22]:
# range(start,stop,step) ---> generates the range till the value less than stopvalue
list(range(9,45,2))

[9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43]

In [25]:
list(range(0,12,2))

[0, 2, 4, 6, 8, 10]

In [26]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [30]:
# range(start,stop,step) 
list(range(0,23,-1))

[]

In [31]:
# range(stop)  # start will be 0, step will be 1
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
numList = list(range(10))

print(len(numList))

10

In [34]:
for item in list(range(10)):
  print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [35]:
for item in range(10):
  print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [41]:
# WAP to print table 2 -> 2,4,6,8...20
for num in range(2,21,2):
  print(num,end=',')

2,4,6,8,10,12,14,16,18,20,

In [37]:
len(range(2,21,2)) # it gives length of range of numbers

10

In [40]:
# WAP to print the series of numbers - 9,14,19,......<76

for num in range(9,76,5):
  print(num,end=',')

9,14,19,24,29,34,39,44,49,54,59,64,69,74,

In [39]:
list(range(9,76,5))

[9, 14, 19, 24, 29, 34, 39, 44, 49, 54, 59, 64, 69, 74]

In [50]:
# 1,2,3,4,5,....50
for num in range(1,51,1):
  print(num,end=',')

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,

In [51]:
# 2,4,6,8,...<56
for num in range(2,56,2):
  print(num,end=',')

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,

In [48]:
# -10,-20,-30,-40,..>-71
print()
for num in range(-10,-72,-10):
  print(num,end=',')

-10,-20,-30,-40,-50,-60,-70,

In [47]:
# 12,24,36,..,120
print()
for num in range(12,121,12):
  print(num,end=',')

print('')
# 98,95,92,89,...>80
for num in range(98,80,-3):
  print(num,end=',')

12,24,36,48,60,72,84,96,108,120,
98,95,92,89,86,83,

In [46]:
# 45-50-55-60
for num in range(45,61,5):
  print(num,end='-')

print('')
# 3#6#9#12#15#
for num in range(3,16,3):
  print(num,end='#')

45-50-55-60-
3#6#9#12#15#

In [52]:
56/0

ZeroDivisionError: ignored

In [55]:
# 1,2,3,4,5,..10
for num in range(1,11,1):
  print(num,end=', ')

1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

In [59]:
# 1,2,3,4,5,..10
num = 1 # start
while num<=11:   #stop
  print(num,end=', ')
  num = num + 1 # step

1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11,

In [60]:
# -3,-7,-11,...>-20
num = -3
while num>-20:
  print(num,end=',')
  num = num - 4

-3,-7,-11,-15,-19,

In [ ]:
# Question
num = -3
while num>-20:
  print(70)

# Answer - this will lead to infinity loop

In [62]:
# Question
num = -3
while num>-20:
  print(70)
  num=-21

70

In [63]:
chr(60)  # returns a character for a given ascii/unicode value

'<'

In [66]:
chr(65)  # returns a character for a given ascii/unicode value

'A'

In [65]:
ord('<') # returns a ascii/unicode for a given character

60

In [67]:
# WAP to print series of alphabets (A,B,C,...Z)
for code in range(65,91,1):
  print( chr(code), end=', ' )

A, B, C, D, E, F, G, H, I, J, K, L, M, N, O, P, Q, R, S, T, U, V, W, X, Y, Z,

In [68]:
# WAP to print series of alphabets (a,b,c,d,e,..z)
for code in range(97,123,1):
  print( chr(code), end=', ' )

a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z,

In [69]:
# WAP to print series of alphabets (a,c,e,...)

for code in range(97,123,2):
  print( chr(code), end=', ' )

a, c, e, g, i, k, m, o, q, s, u, w, y,

In [70]:
# WAP to print series of alphabets (z,w,t,...)
for code in range(122,96,-3):
  print( chr(code), end=', ' )

z, w, t, q, n, k, h, e, b,

In [72]:
# WAP to print series of alphabets (aA,bB,cC,,...,zZ)

first=97  # start of ascii code for a,b,c,d,..
second=65 # start of ascii code for A,B,C,D,..

while first<123 and second<91:
  print(chr(first)+chr(second),end=',')
  first += 1
  second += 1

aA,bB,cC,dD,eE,fF,gG,hH,iI,jJ,kK,lL,mM,nN,oO,pP,qQ,rR,sS,tT,uU,vV,wW,xX,yY,zZ,

In [73]:
for first,second in zip(range(97,123,1),range(65,91,1)):
    print(chr(first)+chr(second),end=',')

aA,bB,cC,dD,eE,fF,gG,hH,iI,jJ,kK,lL,mM,nN,oO,pP,qQ,rR,sS,tT,uU,vV,wW,xX,yY,zZ,

In [76]:
# WAP to print series of alphabets (aZ,bY,cX,,...,zA)
for first,second in zip(range(97,123,1),range(90,64,-1)):
    print(chr(first)+chr(second),end=',')

aZ,bY,cX,dW,eV,fU,gT,hS,iR,jQ,kP,lO,mN,nM,oL,pK,qJ,rI,sH,tG,uF,vE,wD,xC,yB,zA,

In [ ]:
# WAP to print a series of numbers - 10,3,20,6,30,9,40...,80
# WAP to print a series of numbers - 2,3,4,10,20,30,4,6,8,20,40,60
# WAP to print a series of numbers - -2,-10,-4,-100,-6,-190..>-800
# WAP to print a series of alphanumerics - A9,B8,C7,....,Y-16,Z-17
# WAP to print a series of alphabets - arabic letters
# WAP to print a series of alphabets - Braille Patterns

In [79]:
print(ord('מ'))
print(chr(1502))

1502
מ