<a href="https://colab.research.google.com/github/LondonInternational/Data-Science-Batch-A-OCTAIML2021/blob/main/Session_IA_22Oct2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This is the hello world program
# Author: Sanket
# CTRL+ / <- Shortkey to add comment
# CTRL + ENTER -> to run the program

In [81]:
5+34*2**3//4

73

In [ ]:
print(3+4)

7

In [ ]:
print('hello world')

hello world

In [ ]:
'''
This is a multi-line comment
written by Sanket
on the date 22 Oct 2021
'''

In [ ]:
# how to print a text string in a python

print('hello dubai')
print("hello dubai")
print("""hello dubai""")

hello dubai
hello dubai
hello dubai

In [ ]:
print 'hello world'   # Syntax to print a text in Python 2.x  Version

SyntaxError: ignored

In [ ]:
# List Of Operators in Python

#  Arithmetic Operators(+,-,/,//,*,**,%)

print(2+3)
print(34-45)
print(6*8)
print(23/4) # float division operator --> 5.75
print(23//4) # integer division operator --> 5 --> return integer part of the result
print(3**2) # power opearator --> base ** exp -> 3 ** 2 --> 9
print(3**3) # power opearator --> base ** exp -> 3 ** 3 --> 27
print(16**2)
print(14 % 4) # returns remainder --> 2 --> modulus operator

5
-11
48
5.75
5
9
27
256
2

In [ ]:
# Relational Opearators (<,>,<=,>=,==) --> return True/False --> Boolean(1/0)
print(3<4) # returns True
print(3>4) #  F
print(3<=4) #  T
print(3>=4) # F
print(3==4) # ==  equality operator
print(5!=90) # != inequality operator

True
False
True
False
False
True

In [ ]:
# Logical Operators (and, or, not) -> --> return True/False 
print(3<4 and 4>56) # True and False --> False
print(3<4 or 4>56) #  T
print(32<4 or 4>56) #  F
print( not (78<45)) # not False --> True
print(not not True) # not (not True) -> not False -> True
print( (not 23<45)  and not(not 34<45) ) # (not True) and not(not True) -> False and True

False
True
False
True
True
False

In [ ]:
# Membership Operators (in, not in) --> return True/False 
numList = [3,4,5]

print(4 in numList) # True
print('aniket' in numList) # False
print(4 not in numList) # False
print('ani' in 'aniket')

True
False
False
True

In [ ]:
# Identity Operators (is ,is not) --> return True/False 

print('kite' is 'flag') # False
print(34 is not 45) # True
print('---------------------------')
x = 56
y = x

print(x is y) # ==
x = 45
print(x is not y) # !=

False
True
---------------------------
True
False

In [ ]:
# Bitwise Operators (&, |, ~, ^,>>,<<) --> return Value

print(3 | 4) # bitwise OR operator

'''
# 3 -> 0011
       |
# 4 -> 0100
      ------
       0111(Binary) --> 7(Decimal)

'''

7

'\n# 3 -> 0011\n       |\n# 4 -> 0100\n      ------\n       0111 --> 7\n\n'

In [ ]:

print(3 & 4) # bitwise AND operator

'''
# 3 -> 0011
       &
# 4 -> 0100
      ------
       0000 -> 0

'''

0

'\n# 3 -> 0011\n       &\n# 4 -> 0100\n      ------\n       0000 -> 0\n\n'

In [ ]:

print(8 >> 2) # bitwise Right-shift operator

'''
# 8 -> 1000 -> shift every bit towards right by 2 positions -> 
        -> 1 pos
       0100
          -> 1 pos
          0010  -> 2

'''

2

'\n# 8 -> 1000 -> shift every bit towards right by 2 positions -> \n        -> 1 pos\n       0100\n          -> 1 pos\n          0010  -> 2\n\n'

In [ ]:

print(1 << 2) # bitwise Left-shift operator [value] operator [pos]

'''
# 1 -> 0001 -> shift every bit towards left by 2 positions -> 0100 -> 4
 

'''

4

'\n# 1 -> 0001 -> shift every bit towards left by 2 positions -> 0100 -> 4\n \n\n'

In [ ]:
# Assignment Operators(=,+=,-=,/=,*=)

x = 45
print(x)
x += 1  # x = x+1
print(x)

print('-----------------------')
x = 45
print(x)
x *= 2  # x = x * 2
print(x)

45
46
-----------------------
45
90

In [ ]:
# Conditional Structures (if-elif-else)

if 4<5:
  print('hello')
else:
  print('world')

In [ ]:
age = 34
if age>=18:
  print('welcome')
elif age>=65:
  print('Caution')
else:
  print('Entry Restricted')

welcome

In [ ]:
# Scope  down the requirements - > a customer having the age in the range of 18-65 should only be allowed in the sport club
# Test Scenario ---> Acceptance Criteria
# age < 0       ---> Invalid Age
# age > 100     ---> Invalid Age
# age = 18      ---> Welcome
# age = 100     ---> Caution
# age = 65      ---> Welcome
# age = 1       ---> Entry Restricted
# age = 0       ---> Invalid Age

Entry Restricted

In [ ]:
# Nested if-else -> if within if block
age = 20

if age <= 0 or age > 100:
  print('Invalid Age')
else:
  if age>=18 and age<=65:
    print('Welcome')
  elif age>65:
    print('Caution')
  else:
    print('Entry Restricted')

Welcome

In [ ]:
print(3/0)

ZeroDivisionError: ignored

In [ ]:
print('hello') 
  print('world')

IndentationError: ignored

In [ ]:
# python is case-sensitive language
PRINT('hello')

NameError: ignored

In [ ]:
y = 90
print(Y)

NameError: ignored

In [ ]:
# 1. WAP To find the given number is even or odd
# 2. WAp to find the given year is leap year or not
# 3. WAP to find volume of sphere
# 4. WAP to find the number is pos or neg
# 5. WAP to calculate compound interest
# 6. 5+34*2**3//4  -> Order of Precedence